# Emacs backup files
*~

# Python artifacts
__pycache__/
*.egg-info/

# Pytest artifacts
/.coverage

# Ansible inventory file
/hosts.cfg

# Ansible retry files
*.retry

# Simulation data files
*.pdb
*.psf
