# Emacs backup files
*~

# Python artifacts
__pycache__/
*.egg-info/

# Pytest artifacts
/.coverage

# Ansible inventory file
/ansible/hosts.cfg

# Files that can't be redistributed
/ansible/files/nodist

# Ansible retry files
*.retry

# Simulation data files
*.pdb
*.psf
