quench:
  suptitle: "{{ trajectory.experiment }}, trajectory {{ trajectory.trajectory }}"
  input:
{% for batch in trajectory.batches %}
    - ../output/abf_quench{{ batch.batch }}.out
{% endfor %}
  output: "{{ trajectory.experiment }}{{ trajectory.trajectory }}-prod.png"
