#!/bin/bash

# Abort on error
set -e

cd $(dirname $0)
project_home=$(pwd)

{% for trajectory in simulation.trajectories %}
{% set lockfile = trajectory.trajectory + '/work.lock' %}

echo "Running batch for trajectory {{ trajectory.trajectory }}"
date

if [[ ! (-e "{{ lockfile }}") ]]
then
    touch "{{ lockfile }}"
    time "{{ trajectory.trajectory }}"/run-batch.sh
    echo "{{ trajectory.trajectory }}" >> project.progress
    touch "{{ trajectory.trajectory }}/completed"
fi
{% endfor %}

echo "Simulation finished!"
date
