#!/bin/bash

# Abort on error
set -e

cd $(dirname $0)
batch_home=$(pwd)

PATH="/opt/NAMD:${PATH}"
# export LD_LIBRARY_PATH="/opt/NAMD:${LD_LIBRARY_PATH}"
# namd_cores={{ namd_cores }}

{% for batch in trajectory.batches %}
{% set batch_file = 'abf_quench' + batch.batch + '.namd' %}
{% set out_file = 'abf_quench' + batch.batch + '.out' %}

if [[ -z "$(grep '{{ batch_file }}' batch.progress)" ]]
then
    echo "Running Trajectory {{ trajectory.trajectory }}: {{ batch_file }}"
    time namd2 +p{{ namd_cores}} {{ batch_file }} > output/{{ out_file }}
    echo "{{ batch_file }}" >> batch.progress
else
    echo "Skipping {{ batch_file }} which has already been done."
fi
{% endfor %}
